<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @musicfile.description %>
</p>

<%= link_to 'Edit', edit_musicfile_path(@musicfile) %> |
<%= link_to 'Back', musicfiles_path %>
