
<p>
  <strong>Description:</strong>
  <%= @musicfile.description %>
</p>

 <p>
  <strong>File Name:</strong>
  <%= @musicfile.audio_file_name %>
</p>

<% if @musicfile.user == current_user %>
<%= link_to 'Edit', edit_musicfile_path(@musicfile) %> |
<% end %>
<%= link_to 'Back', musicfiles_path %>

