<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @musicfile.description %>
</p>

<% if @musicfile.user == current_user %>
<%= link_to 'Edit', edit_musicfile_path(@musicfile) %> |
<% end %>
<%= link_to 'Back', musicfiles_path %>
