<font color="white"> 

<h1>About ImagineForm</h1>
<p>

<font size="4">
ImagineForm is a tool for performers, specifically dancers and choreographers, to enhance visualization of their stage performance. 
</font>	
<br>
<br>The website has three features <br>

1. A formation visualization tool, which will allow dancers to create and view a sequence of formations, with a set time for each formations. <br>

2. The ability to add in lighting cues, with a set time for each cue.<br>

3. The ability to upload music and integrate it with created formations and lighting cues.<br>

</p> 

</font>