<!doctype html>
<html lang="en">
<head>

<body style= "background-color: #81CFE0">

<style>
#draggableElement{
	width: 50px; 
	height: 50px; 
	background:black; 
	border-radius: 50%
}

#background {
	width: 600px; 
	height: 500px; 
	background:white; 
	display: block;
	margin: 0 auto;
}
</style>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.9/jquery-ui.min.js"></script>
<script type="text/javascript">

$( init );

function init() {
  $('#draggableElement').draggable();
}

</script>

</head>
<body>

<div id="content" style="height: 400px;">
  <div id="background"> </div>
	</div>

<div id="content" style="height: 400px;">
  <div id="draggableElement"> </div>
	</div>

<div id="content" style="height: 400px;">
  <div id="draggableElement"> </div>
	</div>
 
 
</body>
</html>