<body style= "background-color: #DCC6E0">
<div class="jumbotron center other-color"> 
	<h1>Upload Music</h1>
	<p>
		<%= link_to "Choose File", "#", class: "btn btn-default btn-lg" %>
       <%= link_to "Remove", "#", class: "btn btn-default btn-lg" %>
	</p>
</div>
 