<div class="jumbotron center"> 
	<h1>Upload Music</h1>
	<p>
		<%= link_to "Choose File", "#", class: "btn btn-default btn-lg" %>
		<br><br>
       <%= link_to "Remove", "#", class: "btn btn-primary btn-lg" %>
	</p>
</div>
 